# Simulation outputs
*.lis
*.out
*.log
*fort*
*.err

# Python
__pycache__/
*.pyc

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Local temp archives
*.zip
final_summary/
s1_results/
task_01/
phits
data/
XS/
